<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
  (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]='isCollapsed'>
  <ul class="navbar-nav" ml-auto>
        <li class="nav-item" >
          <a class= "navbar-brand" *ngIf="!loggedIn()" [routerLink]="['/nonUserLanding']">HOME</a>
        </li>
        <li class="nav-item" >
          <a class= "navbar-brand" *ngIf="loggedIn()" [routerLink]="['/profile']">HOME</a>
        </li>
        <li class="nav-item">
          <a class= "nav-link" *ngIf="adminLoggedIn()" [routerLink]="['/admin']">ADMIN</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" (click)="open(loginModal)" [routerLink]="['']">LOGIN</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" (click)="openLg(registerModal)" [routerLink]="['']">REGISTER</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" [routerLink]="['/logout']">LOGOUT</a>
        </li>
        </ul>

    </div>
    <div>
      <a class="nav-link" *ngIf="loggedIn()" (click)="setEditTeam()" [routerLink]="['/profile']" text-align=“right”>
        <!-- <span class="navbar-toggler-icon"></span> -->
        <img src="{{pictureUrl}}" *ngIf="loggedIn()" alt="Profile Image" style="width:50px;" class="rounded-circle" text-align="right">
      </a>
    </div>
  </nav>

<!-- style=“text-align:right” -->


<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
          <div class="form-group">
              <label for="uname1">Username/Team Name</label>
              <input type="text" [(ngModel)]="newTeam.name" class="form-control form-control-lg rounded-0" name="name" id="name" required="">
              <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" [(ngModel)]="newTeam.password" class="form-control form-control-lg rounded-0" name="password"  required="" autocomplete="new-password">
              <div class="invalid-feedback">Enter your password too!</div>
          </div>
          <button type="submit" class="btn btn-lg float-right" (click)="login(newTeam); modal.close()" id="btnLogin">Login</button>
        </form>
      </div>
      <!--/card-block-->
    </div>
    <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</ng-template>




<ng-template #registerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Register</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="card-body">
          <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
            <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" [(ngModel)]="newTeam.name" class="form-control form-control-lg rounded-0" placeholder="Team Name" name="username" id="name" required="">
                <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="newTeam.password" name="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                <div class="invalid-feedback">Enter your password too!</div>
            </div>
            <div class="form-group">
              <label for="uname1">Phone Number</label>
              <input type="text" [(ngModel)]="newTeam.phoneNumber" class="form-control form-control-lg rounded-0" name="phone" id="phoneNumber" placeholder= "Phone Number" required="">
              <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <div class="form-group">
              <label for="uname1">Team Member 1</label>
              <input type="text" [(ngModel)]="newUser1.firstName"  class="form-control form-control-lg rounded-0" name="firstName" id="firstName1" placeholder= "First Name" required="">
              <input type="text" [(ngModel)]="newUser1.lastName"  class="form-control form-control-lg rounded-0" name="lastName" id="lastName1" placeholder="Last Name" required="">
              <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <div class="form-group">
              <label for="uname1">Team Member 2</label>
              <input type="text" [(ngModel)]="newUser1.firstName"  class="form-control form-control-lg rounded-0" name="firstName" id="firstName2" placeholder= "First Name" required="">
              <input type="text" [(ngModel)]="newUser2.lastName"  class="form-control form-control-lg rounded-0" name="lastName" id="lastName2" placeholder="Last Name" required="">
              <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>

            <div class="form-group">
              <label for="uname1">Picture Url</label>
              <input type="text" [(ngModel)]="newTeam.pictureUrl" class="form-control form-control-lg rounded-0" name="lastName" required="">
              <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <!-- <div class="form-group">
              <label for="description">Description/Bio</label>
              <textarea class="form-control" type="text" name="description" [(ngModel)]="newTeam.description" rows="3"></textarea>
            </div> -->
            <!-- <div class="form-group">
              <label for="uname1">Description/Bio</label>
              <input type="text" [(ngModel)]="newUser.description" class="form-control form-control-lg rounded-0" name="description" required="">
              <div class="invalid-feedback">Oops, you missed this one.</div>
            </div> -->
            <button type="submit"  (click)="register(newTeam); modal.close()" class="btn btn-lg float-right" id="btnLogin">Submit</button>
          </form>
      </div>
      <!--/card-block-->
  </div>
  <!-- /form card login -->
    <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</ng-template>
